.footer {
  margin: 40px 0 68px 0;
  &__wrapp {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__text {
    font-size: 14px;
    color: var(--color-desc);
  }
}
@media (max-width: 640px) {
  .footer {
    margin: 20px 0 20px 0;
    &__wrapp {
      display: grid;
      grid-template-columns: 1fr;
    }
    &__text {
      margin-bottom: 7px;
    }
  }
}
